.navBarLogo {
    height: 4.6875rem;
    width: 4.6875rem;
}
.NavBarItems {
    display: flex;
    align-items: center;
    justify-items: space-between;
}

/* Hero Banner
.bg-image {
    background-image: url('src/assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;

} */
.ItemCard{
    width: 300px;
    height: 300px;
    img {
    max-width: 25vw;
    max-height: 25vh;
}
}